body {
	background-color: #517000;
}

textarea {
	height: 15%;
	width: 15%;
	text-overflow: wrap;
}

.dynamicCard {
	display: inline-block;
	border: 2px solid black;
	margin: 30px;
	padding: 20px;
	overflow-wrap: wrap;
}